body{
    background-color: black;
    font-family: sans-serif;
    color: white;
}


.card{
    background: coral;
    text-align: center;
    width:300px;
    margin:auto; /*margin auto sirve para centrar un bloque de manera horizontal*/
    margin-top:20px;
}

.programador{
    padding-top:10px;
    font-size: 22px;
    margin:0;
}

h2{
    font-size:13px;
    font-weight: 100;
    letter-spacing: 2px;
}

p{
    font-size: 9px;
    padding:20px;
    background: lightcoral;
    text-align: justify;
}

/*los elementos div no cuentan con un margen predeterminado, mientras que los elementos "h" o "p" si, siendo este de 20px para top y bottom*/

/*En CSS, los márgenes verticales de elementos en bloque pueden colapsar, es decir, fusionarse en un solo margen; esto ocurre entre hermanos (queda el mayor) y también entre un hijo y su contenedor: si el hijo es el primer o último bloque y el padre no tiene padding, border ni overflow, entonces el margin-top o margin-bottom del hijo “se sale” y se aplica como si fuera del padre; para evitarlo basta con añadir padding, border o overflow al contenedor, o usar modelos como flex o grid, donde los márgenes no colapsan.*/

/*margin collapse*/


/*trucos para evitar el margin collapse*/

.padre {
    display: flex; /* crea una barrera */
    background-color: aquamarine;
}   

/* o */
.padre {
    border-top: 1px solid transparent;
    background-color: aquamarine;
}

/* o */
.padre {
    overflow: hidden;
    background-color: aquamarine;
}


.padre {
    background-color: aquamarine;
    padding-top: 1px; /* crea una barrera */
}


.prueba{
    color:blue;
}


