body{
    background-color: #00f;
    margin:0;
    font-family: sans-serif;
    color: #FFF;
}

.box{
    width: 100%;
    height: 840px;
    margin:20px;
    background-color: red; 
    /*se puede jugar con el 4 elemento del color para cambiar la opocidad del elemento, haciendo un efecto de transpariencia para el fondo*/
    background-image:url("https://i.blogs.es/763a99/gta6/840_560.jpeg");
    /*Esta propiedad coloca una imagen de fondo al bloque
    PD: la imagen puede cargar sin las comillas*/
    background-size: 100%;
    /*Esta propiedad lo que hace es que la imagen de fondo se adapte al ancho total del elemento*/
    /*Lo mejor es usar esta propiedad con porcentajes y pixeles*/
    background-size: contain;
    /*El valor contain obliga al contenedor a hacer que la imagen entre, obliga a la imagen de fondo a adaptarse, siempre va a hacer lo posible por mostrar al menos una vez la foto*/
    background-size: cover;
    /*Este valor hace que la imagen de fondo se adapte a la resolución que tiene el bloque, no importa la resolución, la imagen siempre se mostrara en pantalla*/
    background-position: center;
    /*Cuando la imagen de fondo por el uso del cover queda posicionada de una manera no deseada por el tamaño del bloque, se opta por usar el background-position para centrar la imagen hacia el centro, izquierda, derecha, arriba o abajo*/

    background-position: 100px -100px;
    /*También se pueden utilizar coordenadas, la primera es para mover el elemento hacia la derecha o hacia la izquierda y la segunda para mover el elemento hacia arriba o hacia abajo*/

    /*también las coordenadas se pueden usar combinadas con las palabras center, top,etc.*/

    background-repeat: no-repeat;

    /*Esta propiedad funciona cuando un size en porcentajes o en contain está repitiendo la imagen del fondo varias veces, con esta propiedad y el valor no-repeat se evita que la imagen aparezca varias veces, reduciendola a solo una*/

    background-repeat: repeat-x;
    /*Con estas dos propiedades y estos valores puedo hacer que la imagen se repita varias veces en el eje x o en el y*/
    background-repeat: repeat-y;
    margin:0;
    background-attachment: fixed;
    /*Con esta propiedad se produce un efecto en el que se puede dejar la imagen de fondo fija y por medio del scroll el contenido se puede desplazar hacia arriba o hacia abajo encima de ella*/

    background-attachment: scroll;
    /*Con scroll el fondo se movera a la par que el contenido*/

    background-attachment: local;
    /*Con local se movera el contenido según el elemento, no según la ventana. Esto solo si el elemento tiene un overflow auto o scroll*/

    background: url("https://i.blogs.es/763a99/gta6/840_560.jpeg") top / cover no-repeat fixed #6fa;

    /*La propiedad background puede abarcar todo lo visto anteriormente en el siguiente orden, primero se define la url de la iamgen, siguiente el position, después el size, después de manera opcional el repeat, después el attachment y por último el color*/

    /*Entre el position y el size se coloca un slash para que todo pueda funcionar*/

}

.opaco{
    height: 100%;
    width: 100%;
    background-color: #000a;
}

h2{
    padding: 20px;
    text-align: center;
}